body {
    font-family: 'Inter', sans-serif;
    margin: auto;
    background-color: #1a1a1a;
}

body::-webkit-scrollbar {
    display: none;
}

@media (min-width: 375px) {
    .tab-bar {
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 40px;
        padding-left: 35px;
        padding-right: 35px;
        box-sizing: border-box;
        position: fixed;
        bottom: 0%;
    }
}

.tab-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
}

.tab-bar-img {
    width: 30px;
    height: 30px;
}

.active {
    /* color: #FF347F; */
    filter: invert(24%) sepia(90%) saturate(7221%) hue-rotate(323deg) brightness(97%) contrast(110%);
}

.tab-page {
    /* display: none; */
}

.page-body {
    width: 87%;
    margin: auto;
}

.page-title-large {
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: -0.28px;
    color: #fff;
    margin-top: 45px;
    margin-bottom: 20px;
}

.subtitle {
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 129% */
    letter-spacing: -0.7px;
    color: #e8e8e8;
}

.chat-list-item {
    background-color: #1a1a1a;
    padding: 20px 16px;
    border-radius: 0px;
    margin-bottom: 12px;
    display: flex;
    border-bottom: 1px solid #4A4A4A;
    /* width: 100%; */
}

.chat-list-item-fw {
    background-color: #1a1a1a;
    /* padding: 20px 16px; */
    padding: 20px 16px 20px 0px;
    border-radius: 0px;
    margin-bottom: 12px;
    display: flex;
    border-color: #1a1a1a;
    border-bottom: 1px solid #4A4A4A;
    border-right: none;
    width: 100%;
}

.team-name {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #E8E8E8;
    margin-top: 0px;
    margin-bottom: 3px;
}

.members {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.24px;
    color: #909090;
    margin-top: 0px;
    margin-bottom: 0px;
}

.team-text {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #E8E8E8;
}

.sport-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.24px;
    color: #909090;
}

.team-image {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.search-bar {
    padding: 10px 8px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(118, 118, 128, 0.08);
    background: rgba(118, 118, 128, 0.08);
    margin-bottom: 16px;
}

.search-bar:focus {
    outline: none;
}

.search-bar:active {
    outline: none;
}

.search-bar::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    /* Label Color / Light / Secondary */
    color: rgba(60, 60, 67, 0.6);
}

.left-button-mobile-only {
    display: none;
}

.chat-team-names {
    /* margin-top: -5px; */
}

.scorecard-game-info {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0px;
    margin-bottom: 0px;
    /* border-bottom: 2px solid #FF007A; */
}

.live-tag {
    border: 1px solid #FF007A;
    border-radius: 30px;
    background-color: #FF007A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    width: 52px;
    height: 19px;
    margin-left: 24px;
    position: absolute;
    margin-bottom: 10px;
    margin-top: 10px;   
}

.live-tag p {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.game-time {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    margin-right: 8px;
}

.quarter {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.006em;
    color: rgba(255, 255, 255, 0.7);
}

.scorecard-teams-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scorecard-team-card {
    width: 150px;
    padding: 10px;
}

.chat-team-card {
    display: flex;
}

.home-team {
    margin-left: auto;
}

.away-team {
    margin-right: auto;
}

.ctc-r {
    justify-content: flex-end; 
}

.left-team {
    /* border-radius: 8px 0px 0px 8px; */
    border-radius: 0px;
    padding-left: 20px;
    background-color: #0690F3;
}

.right-team {
    /* border-radius: 0px 8px 8px 0px; */
    border-radius: 0px;
    text-align: right;
    padding-right: 20px;
    background-color: #004f88;
}

.scorecard-team {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.left-team .scorecard-team {
    margin-left: 0px;
}

.right-team .scorecard-team {
    margin-right: 0px;
}

.scorecard-team-record {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.006em;
    color: rgba(255, 255, 255, 0.7);
}

.scorecard-score {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    margin-bottom: 6px;
    margin-top: 8px;
}

.loader {
    border: 6px solid #343434; /* Light grey */
    border-top: 6px solid #FF347F; /* Blue */
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1.5s linear infinite;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.game-date-time {
    margin-bottom: -1px;
    margin-top: 0px;
}

.chat-score-display {
    cursor: pointer;
    display: block;
    float: right;  
    z-index: 3;
    position: absolute; /*newly added*/
    top: 56px;/*newly added*/
    background: rgb(240, 240, 240);
    width: 100%;
    height: 180px;
}

.game-date-time-container {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    margin-bottom: 6px;
}

.game-date-time {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #B8B8B8;
}

.no-border {
    border-radius: 0 !important;
    margin-bottom: 0;
}

#profile-header {
    background-color: #1a1a1a;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    color: white;
    padding: 16px;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #0690F3;
}

.profile-picture img {
    border-radius: 50px;
}

.profile-user-info {
    font-family: Space Grotesk;
    display: block;
    /* float: right; */
    /* margin-left: 16px;  */
    text-align: center;
    margin-top: 12px;
}

.profile-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.6px;
    color: #858585;
    margin-top: 4px;
    margin-bottom: 0;
}

.profile-username {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.28px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 10px;
}

#settings-container {
    display: flex;
    flex-direction: column;
}

.settings-button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.006em;
    color: #0690F3;
    text-align: left;
    background-color: #1a1a1a;
    padding: 0;
    border: none;
    margin-bottom: 16px;
}

input[type="file"] {
    display: none;
}

#logout-button {
    color: #FF4301;
}

.topline {
    background: #2b2b2b;
    width: 100%;
    margin-left: -16px;
    margin-top: -16px;
    margin-right: -16px;
    padding: 8px 16px 8px 16px;
    margin-bottom: 12px;
    font-family: Space Grotesk;
    font-size: 13px;
    font-weight: 600;
    color: #cccccc;
    display: flex;
}

.topline_author {
    margin-left: auto !important;
    font-weight: 400;
}

.storyline-item {
    padding: 16px;
    background: #323232;
    border-radius: 0px;
    color: white;
    margin-bottom: 12px;
}

.sub-line {
    color: #a3a3a3;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 20px;
}